<!-- Screen before clicking the patient -->
<div *ngIf="!isClicked">
  <mat-card *ngFor="let patient of allPatients" (click)="onClick(patient)">
    <mat-card-header>
      <mat-card-title>{{patient.patientName}}</mat-card-title>
      <mat-card-subtitle>{{patient.patientEmail}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Click to provide comments.
    </mat-card-content>
  </mat-card>
</div>
<!-- Screen after clicking the patient -->
<div *ngIf="isClicked">
  <span>Card Clicked!!</span>
</div>