<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>NeuroSignal</title>
  <link rel="stylesheet" type="text/css" href="../../assets/papaya.css"/>
  <script type="text/javascript" src="../../assets/papaya.js"></script>
  <script type="text/javascript">
    var params = [];
    params["images"] = ["http://localhost:8082/table/Brats17_TCIA_105_1_t1_final.nii.gz"];
  </script>
</head>
<body>
    <H1>Here</H1>
    <div class="papaya" data-params="params"></div>
</body>
</html> -->
<script>
  var params = [];
  params["images"] = ["http://localhost:8082/table/Brats17_TCIA_105_1_t1_final.nii.gz"];
</script>
<div class="papaya" data-params="params"></div>
