<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">User Registration</h1>
    </div>
  </div>
</section>
<div class="card-content">
  <form class="box mybox" *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate>
    <div class="field">
      <label class="label" for="username">Username</label>
      <input
        class="input"
        type="text"
        name="username"
        [(ngModel)]="form.username"
        required
        minlength="3"
        maxlength="20"
        #username="ngModel"
      />
      <div class="alert-danger" *ngIf="username.errors && f.submitted">
        <div class="is-warning" *ngIf="username.errors.required">Username is required</div>
        <div *ngIf="username.errors.minlength">
          Username must be at least 3 characters
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label" for="email">Email</label>
      <input
        class="input"
        type="text"
        name="email"
        [(ngModel)]="form.email"
        required
        email
        #email="ngModel"
      />
      <div class="alert-danger" *ngIf="email.errors && f.submitted">
        <div *ngIf="email.errors.required">Username is required</div>
        <div *ngIf="email.errors.minlength">
          Email must be a valid email address
        </div>
        <div *ngIf="email.errors.maxlength">
          Username must be at most 20 characters
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label" for="password">Password</label>
      <input
        type="password"
        class="input"
        name="password"
        [(ngModel)]="form.password"
        required
        minlength="6"
        #password="ngModel"
      />
      <div class="alert-danger" *ngIf="password.errors && f.submitted">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">
          Password must be at least 6 characters
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Role</label>
      <div class="select">
        <select name="role" [(ngModel)]="form.role">
          <option class="section" [value]="roles" *ngFor="let roles of userRoles">{{roles}}
          <option>
        </select>
      </div>
      <button class="button myButton is-primary">Sign Up</button>
    </div>
    <div class="is-warning" *ngIf="f.submitted && isSignUpFailed">
      Signup failed!<br/>{{ errorMessage }}
    </div>
  </form>
  <div class="alert alert-success" *ngIf="isSuccessful">
    Your registration is successful!
  </div>
</div>
